# https://docs.pyrogram.org/topics/tgcrypto
tgcrypto
https://github.com/KurimuzonAkuma/pyrogram/archive/refs/tags/v2.1.21.zip
mysql-connector-python
python-dotenv
pendulum
boto3
requests
gspread
git+https://github.com/Ripeey/Conversation-Pyrogram
pandas
convopyro
tabulate   # For rendering tables generated via dataframes
colorama
matplotlib
aiofiles    # Aync File reads

# Install the below for testing
# pytest-asyncio
# pytest
# pytest-cov # for coverage. Use as pytest --cov