# https://docs.pyrogram.org/topics/tgcrypto
tgcrypto
pyrogram
mysql-connector-python
python-dotenv
pendulum
boto3
requests
gspread
git+https://github.com/Ripeey/Conversation-Pyrogram
pandas
convopyro
tabulate   # For rendering tables generated via dataframes
colorama
matplotlib

# Install the below for testing
# pytest-asyncio  # For testing
# pytest  # For testing
# pytest-cov # for coverage. Use as pytest --cov