atomicwrites==1.4.0
attrs==21.4.0
black==22.1.0
boto3==1.24.2
botocore==1.27.2
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
google-auth==2.6.2
google-auth-oauthlib==0.5.1
gspread==5.4.0
idna==3.3
iniconfig==1.1.1
jmespath==1.0.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.29
oauthlib==3.2.0
packaging==21.3
pathspec==0.9.0
pendulum==2.1.2
platformdirs==2.5.1
pluggy==1.0.0
protobuf==3.19.4
py==1.11.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.8
Pyrogram==2.0.26
PySocks==1.7.1
pytest==7.1.1
pytest-asyncio==0.18.3
python-dateutil==2.8.2
python-dotenv==0.20.0
pytzdata==2020.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.6.0
six==1.16.0
TgCrypto==1.2.3
tomli==2.0.1
urllib3==1.26.9
