# https://docs.pyrogram.org/topics/tgcrypto
tgcrypto
pyrogram
mysql-connector-python
python-dotenv
pendulum
boto3
requests
gspread
git+https://github.com/Ripeey/Conversation-Pyrogram
tabulate   # For rendering tables generated via dataframes
pandas
convopyro

# Install the below for testing
# pytest-asyncio  # For testing
# pytest  # For testing
# pytest-cov # for coverage. Use as pytest --cov

# OpenAI
openai
langchain
chromadb
sentence-transformers # For sentence embeddings from HuggingFaceEmbeddings
